<%-include('header');-%>
    <!-- <% if(listTitle==="tuesday" || listTitle === "sunday"){ %>
        <h1 style="color:purple">Its a <%= listTitle %></h1>
   <% }else{ %>
    <h1 style="color:burlywood">Its a <%= listTitle %></h1>
   <%}%>
     -->
     <div class="box" id="heading">
        <h1 >Its a <%= listTitle %></h1>
     </div>
     <div class="box">
       
        
            <% newListItems.forEach(function(newitem){%>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox"name="check1"  onChange="this.form.submit()"value=<%=newitem._id%> >
                        <p><%=newitem.name %>
                
                        </p>
                    </div>
                    <input type="hidden" name="listName"value=<%= listTitle %>></input>
                </form>
                
          <%  }) %>
            
         
         <form class="item"action="/" method="post">
            <input type="text"name="list"placeholder="Enter items" autocomplete="off">
            <button type="submit"name="button"value=<%= listTitle%>>+</button>
         </form>
     </div>
     
     
     
   
<%- include('footer'); %>